* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    background-color: #065A9C;
}

#pets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    margin-top: 30px ;
    font-size: 3.2rem;
    
}

.subtitle {
    color: white;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 2.4rem;
}

.cards, .choose-attacks {
    display: flex;
    gap: 40px;
}

.pokemon-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    height: 200px;
    background-color: #0077BC;
    padding: 10px;
    border-radius: 10px;
}

.pokemon-card p {
    color: white;
    font-size: 1.6rem;
}

.pokemon-card img {
    width: 140px;
}

input {
    display: none;
}

input:checked + label {
    border: 10px solid #C3FF99;
}

#button-mokepon {
    margin-top: 60px;
    width: 250px;
    height: 60px;
    font-size: 1.6rem;
    color: white;
    background-color: #065A9C;
    border: 2px solid white;
    border-radius: 50px;
}

#button-mokepon:hover {
    background-color: white;
    color: #065A9C;
    border: none;
}

#attack {
    flex-direction: column;
    align-items: center;
}

.button-attack {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border-color: transparent;
    width: 100px;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    margin-right: 40px;
}

.button-attack:hover {
    border: 5px solid #C3FF99;
}

#messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    width: 380px;
    background-color: white;
    padding: 20px;
    margin-top: 60px;
    border-radius: 20px;
}

#button-reset {
    border: none;
    color: #0077BC;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.combat-attacks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.2rem;
    gap: 60px;
    text-align: center;
    margin-top: 40px;
    color: white;
}

.section-attack {
    padding: 20px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: #0077BC;
}

.section-attack .lives {
    font-size: 2rem;
    font-weight: bold;
}

.section-attack .name {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 12px;
}

#view-map {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#view-map button {
    margin: 5px;
    width: 100px;
    height: 60px;
    font-size: 1.6rem;
    color: white;
    background-color: #065A9C;
    border: 2px solid white;
    border-radius: 50px;
}

#view-map button:hover {
    background-color: white;
    color: #065A9C;
    border: none;
}

#map {
    margin-bottom: 20px;
}

@media (max-width: 960px) {
    .cards {
        flex-direction: column;
    }

    .choose-attacks {
        flex-direction: column;
    }
}

@media (max-width: 360px) {
    #view-map div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}